.card {
width: 18rem;
}
button.badge {
  background-color: #f04040;
  border: none;
  color: #ffffff;
  width: 1.5rem;
}
.block {
  padding: 1rem;
  margin: 0.5rem;
  border-radius: 0.5rem;

}
.col-2 {
  flex: 2;
}